.parent {
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center


    /* add solution here */
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
}
